{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="container">
    <h3>BillCharlesltd.com</h3>
    <p class="footer-subtitle" style="color: #fff;">
        Professional Automotive Services: Import • Export • Sales • Maintenance — Driven by Trust, Defined by Excellence.
    </p>
    <p class="footer-copyright" style="color: #E8E8E8;">
        © 2025 BillCharlesltd. All rights reserved. | This website represents the official online presence of Bill Charles Limited.
    </p>
    </div>
</footer>

<script src="https://f005.backblazeb2.com/file/BillCharlesLtd/bclstatic/js/lucide.js"></script>
<script src="https://f005.backblazeb2.com/file/BillCharlesLtd/bclstatic/js/admin-script.js"></script>
<script src="{% static 'js/lucide.js' %}"></script>
<script src="{% static 'js/admin-script.js' %}"></script>
<script>
    lucide.createIcons();
</script>